/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Ukuran dasar HTML */
html {
  font-size: 60%;
  overflow-x: hidden;
}

/* Variabel warna */
:root {
  --bg-color: #080808;        /* hitam pekat */
  --second-bg-color: #1a0000; /* item ke maroon-an */
  --text-color: white;
  --main-color: maroon;       /* maroon */
}

/* Body */
body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 12%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* Menu icon */
#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

/* Logo */
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

/* Span khusus */
span {
  color: var(--main-color);
}

/* Navbar */
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}

.navbar a:hover {
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
}
section {
  min-height: 100vh;
  padding: 10rem 12%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
  text-align: right;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.home-content h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
  color: var(--main-color);
}

.home-content h3 {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--second-color);
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
  color: var(--text-color);
}

.home-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}

.home-img img:hover {
  box-shadow: 
    0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color);
}
.skills {
  padding: 10rem 12%;
  text-align: center;
}

.skills .heading {
  font-size: 5rem;
  margin-bottom: 5rem;
  font-weight: 700;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
